---
layout: default
---

  {% include popup.html %}

  <div class="s_two_col reverse-cols padd-top marg-bottom">
    <div class="container">
      <div class="flex-box justify-content-between scols-parent">
        <div class="col col-img">
          <img src="/assets/imgs/foodimage.png" alt="food">
        </div>
        <div class="col col-text">
          <div class="col-text-control">
            <h2>Bedankt voor je bestelling!</h2>
            <p>Blijf je graag op de hoogte van onze nieuwe gerechten, handige serveertips en interessante kortingen?</p>
            <div class="form-mail">
              <span class="input-wrapper icon-mail">
                <input class="form-input" type="email" placeholder="E-mailadres">
              </span>
              <button class="default-btn btn-gray">Inschrijven</button>
                <div class="checkbox">
                  <div class="checkbox-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" style="width: 22px;"><defs><style>.svg-check-a{fill:#fff;}.svg-check-a,.svg-check-b{stroke:var(--leaf-green-color);stroke-width:2px;}.svg-check-b,.svg-check-d{fill:none;}.svg-check-b{stroke-linecap:round;stroke-linejoin:round;}.svg-check-c{stroke:none;}</style></defs><g class="svg-check-a"><rect class="svg-check-c" width="32" height="32"></rect><rect class="svg-check-d" x="1" y="1" width="30" height="30"></rect></g><path class="svg-check-b" d="M2279.346,1602.008v6.359h11.607" transform="translate(-2735.032 494.658) rotate(-45)"></path></svg>
                  </div>
                  <div class="checkbox-2">
                    By clicking send you give permission for the use of your email address.
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include instagram.html %}


<script>
  //dom ready handler
  jQuery(function ($) {
    $('.checkbox').click(function(){
      	$(".checkbox").removeClass("no-check");
    	$(".checkbox").toggleClass("check");
    });
    //form submit handler
    $('form').submit(function (e) {
      //check atleat 1 checkbox is checked
      if (!$(".checkbox").hasClass('check')) {
        //prevent the default form submit if it is not checked
        e.preventDefault();
      	$(".checkbox").addClass("no-check");
      }
    })
  })
</script>
