---
layout: default
---
<div class="home-page">
  <section class="s_two_col reverse-cols padd-top marg-bottom">
    <div class="container">
      <div class="flex-box justify-content-between scols-parent home-hero-flex">
        <div class="col col-img home-page-slick">
          <img src="/rosemary_theme/static/img/foodimage.png" alt="food" />
          <img src="/rosemary_theme/static/img/foodimage.png" alt="food" />
          <img src="/rosemary_theme/static/img/foodimage.png" alt="food" />
        </div>
        <div class="col col-text home-page-slick-text">
          <div class="col-text-control">
            <h2>Verse maaltijden, geleverd bij jou thuis & klaar om op te warmen</h2>
            <p>Guilt-free genieten van evenwichtige en vers bereide gerechten die onze fietskoeriers gekoeld bij jou thuis leveren.</p>

            <a href="/shop" class="home-page-discover-dishes-btn">
              Gerechten ontdekken
              <span class="right-chevron no-d">
                <svg xmlns="http://www.w3.org/2000/svg" width="10.121" height="5.81" viewBox="0 0 10.121 5.81"><defs><style>.a-icon-left-chevron{fill:none;stroke:#152018;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><path class="a-icon-left-chevron" d="M7431,3152l4,4,2.333-2.333L7439,3152" transform="translate(-7429.939 -3150.939)"/></svg>
              </span>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="craving-section container">
  <div class="craving-dishes flex-box">
    <div class="shop-collection-product-card">
      <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      <div class="product-info">
        <a href="/product" class="product-name">
          Indisch gemarineerde kip: Chicken Tikka Masala
        </a>
        <div class="product-weight-price flex-box">
          <div class="product-weight">
            500 gram
          </div>
          <div class="product-price">
            € 12,00
          </div>
        </div>
        <span class="product-category">
          Vlees
        </span>
        <div class="add-to-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
          TOEVOEGEN
        </div>
        <div class="product-cautions flex-box">
          <div class="caution">
            Allergenen
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
          </div>
          <div class="know-more">
            Meer weten
          </div>
        </div>
      </div>
    </div>
    <div class="shop-collection-product-card">
      <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      <div class="product-info">
        <div class="product-name">
          Indisch gemarineerde kip: Chicken Tikka Masala
        </div>
        <div class="product-weight-price flex-box">
          <div class="product-weight">
            500 gram
          </div>
          <div class="product-price">
            € 12,00
          </div>
        </div>
        <span class="product-category">
          Vlees
        </span>
        <div class="add-to-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
          TOEVOEGEN
        </div>
        <div class="product-cautions flex-box">
          <div class="caution">
            Allergenen
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
          </div>
          <div class="know-more">
            Meer weten
          </div>
        </div>
      </div>
    </div>
    <div class="shop-collection-product-card">
      <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      <div class="product-info">
        <div class="product-name">
          Indisch gemarineerde kip: Chicken Tikka Masala
        </div>
        <div class="product-weight-price flex-box">
          <div class="product-weight">
            500 gram
          </div>
          <div class="product-price">
            € 12,00
          </div>
        </div>
        <span class="product-category">
          Vlees
        </span>
        <div class="add-to-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
          TOEVOEGEN
        </div>
        <div class="product-cautions flex-box">
          <div class="caution">
            Allergenen
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
          </div>
          <div class="know-more">
            Meer weten
          </div>
        </div>
      </div>
    </div>
    <div class="shop-collection-product-card">
      <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      <div class="product-info">
        <div class="product-name">
          Indisch gemarineerde kip: Chicken Tikka Masala
        </div>
        <div class="product-weight-price flex-box">
          <div class="product-weight">
            500 gram
          </div>
          <div class="product-price">
            € 12,00
          </div>
        </div>
        <span class="product-category">
          Vlees
        </span>
        <div class="add-to-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
          TOEVOEGEN
        </div>
        <div class="product-cautions flex-box">
          <div class="caution">
            Allergenen
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
          </div>
          <div class="know-more">
            Meer weten
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="see-all-dishes-btn">
    Alle gerechten zien
  </div>
</section>

<section class="s_three_col padd-top marg-bottom how-it-works">
  <div class="container">
    <h1 class="text-center">Hoe werkt het?</h1>
    <div class="flex-box justify-content-around scols-3-parent padd-top-sm">
      <span class="bike-line">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.595" height="26.026" viewBox="0 0 23.595 26.026"><defs><style>.svg-package{fill:none;stroke:#89b55d;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><g transform="translate(-1.956 -0.966)"><line class="svg-package" x1="10.754" y1="6.201" transform="translate(8.377 4.64)"/><path class="svg-package" d="M24.507,18.727V9.169A2.39,2.39,0,0,0,23.312,7.1L14.948,2.322a2.39,2.39,0,0,0-2.39,0L4.195,7.1A2.39,2.39,0,0,0,3,9.169v9.559a2.39,2.39,0,0,0,1.195,2.067l8.364,4.779a2.39,2.39,0,0,0,2.39,0l8.364-4.779A2.39,2.39,0,0,0,24.507,18.727Z" transform="translate(0 0)"/><path class="svg-package" d="M3.27,6.96,13.7,12.994,24.132,6.96" transform="translate(0.053 0.966)"/><line class="svg-package" y1="12.044" transform="translate(13.754 13.948)"/></g></svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="30.75" viewBox="0 0 36 30.75"><defs><style>.svg-bike{fill:#89b55d;}</style></defs><path class="svg-bike" d="M23.25,8.25a3,3,0,1,0-3-3A3.009,3.009,0,0,0,23.25,8.25ZM7.5,18a7.5,7.5,0,0,0,0,15,7.5,7.5,0,0,0,0-15Zm0,12.75a5.25,5.25,0,0,1,0-10.5,5.25,5.25,0,0,1,0,10.5Zm8.7-15,3.6-3.6,1.2,1.2a10.509,10.509,0,0,0,7.65,3.15v-3a7.452,7.452,0,0,1-5.4-2.25L20.4,8.4A3.678,3.678,0,0,0,18,7.5a2.517,2.517,0,0,0-2.1.9l-4.2,4.2a2.962,2.962,0,0,0-.9,2.1,2.517,2.517,0,0,0,.9,2.1L16.5,21v7.5h3V19.2l-3.3-3.45ZM28.5,18A7.5,7.5,0,1,0,36,25.5,7.427,7.427,0,0,0,28.5,18Zm0,12.75a5.25,5.25,0,1,1,5.25-5.25A5.315,5.315,0,0,1,28.5,30.75Z" transform="translate(0 -2.25)"/></svg>
      </span>
      <div class="col-3-1">
        <div class="img-wrapper">
          <img src="/rosemary_theme/static/img/Icon-menu.svg" alt="food" />
        </div>
        <div class="col-text-control marg-top-xs">
          <h2>Kies je maaltijd</h2>
          <p>Onze chef-koks gaan elke dag dag aan de slag met pure ingrediënten om smaakvolle en evenwichtige gerechten te bereiden.</p>
          <a href="#">Ontdek het menu</a>
        </div>
      </div>
      <div class="col-3-1">
        <div class="img-wrapper">
          <img src="/rosemary_theme/static/img/Icon-bike.svg" alt="food" />
        </div>
        <div class="col-text-control marg-top-xs">
          <h2>Geleverd met de fiets</h2>
          <p>Onze fietskoeriers leveren je gerechten duurzaam aan huis in alle 19 Brusselse gemeenten. Een kwartier voor levering krijg je een sms’je.</p>
          <a href="#">Lees meer</a>
        </div>
      </div>
      <div class="col-3-1">
        <div class="img-wrapper">
          <img src="/rosemary_theme/static/img/Icon-microwave.svg" alt="food" />
        </div>
        <div class="col-text-control marg-top-xs">
          <h2>Opwarmen en genieten</h2>
          <p>Al onze gerechten komen gekoeld aan bij jou thuis. Je warmt ze gewoon even op in de oven of microgolf, wanneer jij dat wenst.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="s_two_col marg-bottom">
  <div class="container">
    <div class="flex-box justify-content-between scols-parent">
      <div class="col col-img">
        <img src="/rosemary_theme/static/img/foodimage.png" alt="food" />
      </div>
      <div class="col col-text">
        <div class="col-text-control">
          <h2>Evenwichtige verse gerechten om thuis op te warmen</h2>
          <p>
            Zeg eens eerlijk, wat is fijner dan in alle comfort thuis te genieten van een evenwichtig gerecht dat klaargemaakt is met pure en smaakvolle ingrediënten?
            <br><br>
            Perfect wanneer je ’t even wat drukker hebt of gewoon geen zin hebt om te koken, maar wel een lekkere maaltijd op tafel wil zetten.
            <br><br>
            Elke 2 weken wisselt ons aanbod, want onze chefs zetten elke twee weken nieuwe gerechten op het menu.
          </p>
          <div class="col-text-btns flex-box">
            <a href="#" class="default-btn marg-top-xs">Gerechten bekijken</a>
            <a href="#" class="btn-white marg-top-xs">Over onze keuken</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="s_two_col reverse-cols marg-bottom">
  <div class="container">
    <div class="flex-box justify-content-between scols-parent">
      <div class="col col-img">
        <img src="/rosemary_theme/static/img/foodimage.png" alt="food" />
      </div>
      <div class="col col-text">
        <div class="col-text-control">
          <h2>Titel blogartikel</h2>
          <p>
            Het leven kan best druk zijn. Gelukkig kan je dankzij Rose Mary toch een kwalitatieve, verse en lekkere maaltijd op tafel toveren. En nieuwe smaken ontdekken!
            <br><br>
            Met Rose Mary, een collectief van enthousiaste chefs, bereiden we dagelijks verse maaltijden met pure ingrediënten.
            <br><br>
            Om jou te blijven verrassen veranderen we elke twee weken ons menu.
          </p>
          <div class="col-text-btns flex-box">
            <a href="#" class="default-btn marg-top-xs">Lezen</a>
            <a href="#" class="btn-white marg-top-xs">Ons verhaal</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include faq.html %}

{% include testimonial.html %}

{% include instagram.html %}

{% include newsletter.html %}

</div>

<script src="/rosemary_theme/static/js/bg-imgs.js" type="text/javascript"></script>
