---
layout: default
---





<div class="shop-menu-date-section">
  <h1 class="shop-menu-heading">Menu</h1>
  <div class="date-selector">

    <div id="current-week" class="date-text">Ma 05 juli ’21 - zo 18 juli ‘21</div>
    <div id="next-week" class="date-text">Ma 19 juli ’21 - zo 1 aug ‘21</div>

  </div>
  <div class="dilivery-timings">
    <span class="dilivery-timings-text">We leveren van maandag tot vrijdag tussen 15u30 en 20u30 <span class="no-t-m">-</span> </span>
    <span class="dilivery-check-link">Controleer of we tot bij jou leveren</span>
  </div>
</div>
<div class="check-if-we-deliver no-disp">
  <div class="check-if-content container flex-box">
    <p class="check-if-para">Leveren we in jouw straat?</p>
    <form class="check-if-form" action="index.html" method="post">
      <input class="check-if-input" type="number" name="" value="" placeholder="Postcode">
      <input class="check-if-input" type="text" name="" value="" placeholder="Straat">
      <input type="submit" class="check-if-submit-btn" name="" value="Controleer">
    </form>
  </div>
</div>
<div class="shop-collection-section">
  <div id="sticky-menu" class="shop-collection-categories-sticky no-t-m">
    <div class="container">
      <div class="shop-categories flex-box">
        <span class="shop-categories-text">Waar heb je goesting in?</span>
        <span class="shop-category selected">Alle gerechten</span>
        <span class="shop-category">Vlees</span>
        <span class="shop-category">Vis</span>
        <span class="shop-category">Gevogelte</span>
        <span class="shop-category">Veggie</span>
        <span class="shop-category">Vegan</span>
      </div>
      <div class="menu-type-titles">
        <span class="menu-type dark">Hoofdgerechten</span>
        <span class="menu-type">-</span>
        <span class="menu-type">Menu's</span>
        <span class="menu-type">-</span>
        <span class="menu-type">Apero & soep</span>
        <span class="menu-type">-</span>
        <span class="menu-type">Desserts</span>
      </div>
    </div>
  </div>
<div class="shop-collection-content flex-box container">
  <div class="shop-collection-left">
    <div class="shop-categories flex-box no-t-m">
      <span class="shop-categories-text">Waar heb je goesting in?</span>
      <span class="shop-category selected">Alle gerechten</span>
      <span class="shop-category">Vlees</span>
      <span class="shop-category">Vis</span>
      <span class="shop-category">Gevogelte</span>
      <span class="shop-category">Veggie</span>
      <span class="shop-category">Vegan</span>
    </div>
    <div class="shop-categories no-d">
      <div class="accordion">
        <span class="shop-categories-text">Waar heb je goesting in?</span>
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="panel">
        <span class="shop-category">Alle gerechten</span>
        <span class="shop-category">Vlees</span>
        <span class="shop-category">Vis</span>
        <span class="shop-category">Gevogelte</span>
        <span class="shop-category">Veggie</span>
        <span class="shop-category">Vegan</span>
      </div>
    </div>

    <div class="shop-collection">
      <h2 class="shop-collection-title">Hoofdgerechten</h2>
      <div class="shop-collection-products flex-box">


        <div class="shop-collection-product-card">
          <img src="/assets/imgs/food-item.png" alt="">
          <div class="product-info">
            <div class="product-name">
              Indisch gemarineerde kip: Chicken Tikka Masala
            </div>
            <div class="product-weight-price flex-box">
              <div class="product-weight">
                500 gram
              </div>
              <div class="product-price">
                € 12,00
              </div>
            </div>
            <span class="product-category">
              Vlees
            </span>
            <div class="add-to-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
              TOEVOEGEN
            </div>
            <div class="product-cautions flex-box">
              <div class="caution">
                Allergenen
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
              </div>
              <div class="know-more">
                Meer weten
              </div>
            </div>
          </div>
        </div>

        <div class="shop-collection-product-card">
          <img src="/assets/imgs/food-item.png" alt="">
          <div class="product-info">
            <div class="product-name">
              Indisch gemarineerde kip: Chicken Tikka Masala
            </div>
            <div class="product-weight-price flex-box">
              <div class="product-weight">
                500 gram
              </div>
              <div class="product-price">
                € 12,00
              </div>
            </div>
            <span class="product-category">
              Vlees
            </span>
            <div class="add-to-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
              TOEVOEGEN
            </div>
            <div class="product-cautions flex-box">
              <div class="caution">
                Allergenen
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
              </div>
              <div class="know-more">
                Meer weten
              </div>
            </div>
          </div>
        </div>

        <div class="shop-collection-product-card">
          <img src="/assets/imgs/food-item.png" alt="">
          <div class="product-info">
            <div class="product-name">
              Indisch gemarineerde kip: Chicken Tikka Masala
            </div>
            <div class="product-weight-price flex-box">
              <div class="product-weight">
                500 gram
              </div>
              <div class="product-price">
                € 12,00
              </div>
            </div>
            <span class="product-category">
              Vlees
            </span>
            <div class="add-to-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
              TOEVOEGEN
            </div>
            <div class="product-cautions flex-box">
              <div class="caution">
                Allergenen
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
              </div>
              <div class="know-more">
                Meer weten
              </div>
            </div>
          </div>
        </div>

        <div class="shop-collection-product-card">
          <img src="/assets/imgs/food-item.png" alt="">
          <div class="product-info">
            <div class="product-name">
              Indisch gemarineerde kip: Chicken Tikka Masala
            </div>
            <div class="product-weight-price flex-box">
              <div class="product-weight">
                500 gram
              </div>
              <div class="product-price">
                € 12,00
              </div>
            </div>
            <span class="product-category">
              Vlees
            </span>
            <div class="add-to-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
              TOEVOEGEN
            </div>
            <div class="product-cautions flex-box">
              <div class="caution">
                Allergenen
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
              </div>
              <div class="know-more">
                Meer weten
              </div>
            </div>
          </div>
        </div>

        <div class="shop-collection-product-card">
          <img src="/assets/imgs/food-item.png" alt="">
          <div class="product-info">
            <div class="product-name">
              Indisch gemarineerde kip: Chicken Tikka Masala
            </div>
            <div class="product-weight-price flex-box">
              <div class="product-weight">
                500 gram
              </div>
              <div class="product-price">
                € 12,00
              </div>
            </div>
            <span class="product-category">
              Vlees
            </span>
            <div class="add-to-cart">
              <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
              TOEVOEGEN
            </div>
            <div class="product-cautions flex-box">
              <div class="caution">
                Allergenen
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><defs><style>.a-icon-info{fill:#fff;}</style></defs><g transform="translate(-0.006 -0.006)"><circle cx="5" cy="5" r="5" transform="translate(0.006 0.006)"/><path class="a-icon-info" d="M-.419-7.917a.649.649,0,0,0,.667-.635.642.642,0,0,0-.667-.627.647.647,0,0,0-.667.627A.654.654,0,0,0-.419-7.917ZM-.941-3.506H.112V-7.25H-.941Z" transform="translate(5.425 11.348)"/></g></svg>
              </div>
              <div class="know-more">
                Meer weten
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="menu-drawer-cart no-d">
      <div class="menu-drawer-mini-cart">
        <div class="your-order-text-section flex-box">
          <div class="your-order-text-part flex-box">
            <div class="your-order-cart-svg">
              <svg class="header-cart-svg" xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart-green,.b-icon-shopping-cart-green{fill:none;stroke:#38493d;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart-green{stroke-width:2px;}.b-icon-shopping-cart-green{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart-green" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart-green" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart-green" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
            </div>
            <div class="your-order-text">
              Uw bestelling
            </div>
          </div>
          <div class="text-separator-pipe">
            |
          </div>
          <div class="your-order-text-part flex-box">
            3 gerechten
          </div>
          <div class="text-separator-pipe">
            |
          </div>
          <div class="your-order-text-part flex-box">
            <div class="your-order-text cart-total">
              € 36,00
            </div>
            <div class="up-chevron">
              <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
                  <g>
                    <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
                  </g>
              </svg>
            </div>
          </div>
        </div>
        <a href="#" class="mini-cart-btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
          BESTELLEN
        </a>
      </div>
    </div>

  </div>
  <div class="shop-collection-right">
    {% include right-cart-discount-code.html %}
  </div>

</div>
</div>

{% include faq.html %}

{% include testimonial.html %}

{% include instagram.html %}

<div class="newsletter-signup-section">
  <div class="newsletter-content container">
    <h2 class="newsletter-heading">Schrijf je in on onze nieuwsbrief en ontvang 10% korting op je eerste bestelling</h2>
    <p class="newsletter-text">Geen spam, wel als eerste het nieuwe menu in je mailbox</p>
    <form class="newsletter-form" action="index.html" method="post">
      <div class="newsletter-email flex-box">
        <input class="check-if-input answer-email-input" type="email" name="" value="" placeholder="E-mailadres">
        <input type="submit" class="check-if-submit-btn" name="" value="Inschrijven">
      </div>
      <div class="agreement-checkbox flex-box">
        <input id="agreement" class="no-disp" type="checkbox" name="" value="agreed">
        <span class="check-box"><span class="checked"></span></span>
        <label class="agreement-label" for="agreement">Ik ga ermee akkoord dat mijn gegevens verwerkt worden conform de privacyverklaring</label>
      </div>
    </form>
  </div>
</div>

<script>


</script>
