<div class="faq-section">
  <div class="faq-content container">
    <h2 class="faq-heading">Veelgestelde vragen</h2>
    <div class="question-answer">
      <div class="question accordion">
        Waar levert Rose Mary?
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="answer panel">
        Rose Mary levert in alle 19 Brusselse gemeenten: <br><br> Stad Brussel (Laken, Haren, Neder-over-Heembeek…), Anderlecht, Elsene, Etterbeek, Evere, Ganshoren, Jette, Koekelberg, Oudergem, Schaarbeek, Sint-Agatha-Berchem, Sint-Gillis, Sint-Jans-Molenbeek, Sint-Joost-ten-Node, Sint-Lambrechts-Woluwe, Sint-Pieters-Woluwe, Ukkel, Vorst en Watermaal-Bosvoorde.

          <div class="check-if-content flex-box">
            <p class="check-if-para">Controleer het hier direct</p>
            <form class="check-if-form" action="index.html" method="post">
              <input class="check-if-input" type="number" name="" value="" placeholder="Postcode">
              <input class="check-if-input" type="email" name="" value="" placeholder="E-mailadres">
              <input type="submit" class="check-if-submit-btn" name="" value="Controleer">
            </form>
          </div>
      </div>
    </div>
    <div class="question-answer">
      <div class="question accordion">
        Hoe warm ik het best mijn maaltijd op?
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="answer panel">
        Elke maaltijd, die warm te eten is, kan opgewarmd worden in de oven of in de microgolf. <br><br> Opwarminstructies vind je op de website en op de verpakking. Het houten bakje mag zowel in de oven als in de microgolf. Haal de folie van de verpakking en zet het bakje volgens de instructies in de (micro)golf. Wij raden aan om de oven te gebruiken voor een ideale smaakbeleving. <br><br> Indien je opwarmt in de oven, laat dan altijd eerst je oven voorverwarmen op de gewenste temperatuur.
      </div>
    </div>
    <div class="question-answer">
      <div class="question accordion">
        Hoe kan ik betalen?
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="answer panel">
        De betalingen gebeuren op een veilige manier op onze website. Via de betaalmodule kan je jouw bestelling via bancontact meteen betalen. Geen gedoe met cash of wisselgeld. Relax, jouw bestelling komt eraan!
      </div>
    </div>
    <div class="question-answer">
      <div class="question accordion">
        Hoe kan ik op de hoogte blijven van de veranderende menu?
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="answer panel">
        Schrijf je in voor onze nieuwsbrief en krijg om de 2 weken onze menu in jouw mailbox.
        <div class="check-if-content flex-box">
          <form class="check-if-form" action="index.html" method="post">
            <input class="check-if-input answer-email-input check-if-second-email" type="email" name="" value="" placeholder="E-mailadres">
            <input type="submit" class="check-if-submit-btn" name="" value="Inschrijven">
          </form>
        </div>
      </div>
    </div>
    <div class="question-answer">
      <div class="question accordion">
        Hoelang kan ik mijn maaltijd bewaren in de frigo?
        <span class="down-chevron">
          <svg class="icon-chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
              <g>
                <path d="m 21.365632,3.8463214 27.760611,-0.1607933 0.08747,-27.6872871 8.12143,-0.09916 -0.107135,35.888216 -35.940265,0.107799 z" transform="matrix(0.70421428,0.7099875,-0.70421428,0.7099875,0,0)"></path>
              </g>
          </svg>
        </span>
      </div>
      <div class="answer panel">
        Onze maaltijden worden vers bereid door een chef kok met verse ingrediënten. Wij voegen geen extra bewaarmiddelen toe aan onze gerechten, waardoor de maaltijd een beperkte houdbaarheid heeft. Op jouw maaltijd kan je telkens de houdbaarheidsdatum terugvinden. Gemiddeld is een maaltijd nog 2 dagen houdbaar in een koelkast tussen de 0°C en 4°C.
      </div>
    </div>
  <a href="#" class="faq-btn">Ik heb een andere vraag</a>
  </div>

</div>
