<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assign title = site.title %}
    <title>
      {% if {{page.title}} %}
        {{page.title}} | {{title}}
      {% else %}
        {{ title }}
      {% endif %}
    </title>
  <meta name="description" content="{{ description }}">

  <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta property="twitter:image:src" content="{{ image }}">
    {% if site.twitter_username %}
        <meta name="twitter:site" content="@{{ site.twitter_username }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="{{ image }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:site_name" content="{{ site.title }}">

    <!-- Android Lolipop Theme Color -->
  <meta name="theme-color" content="#141414">

  <!-- Fonts -->
  <link href="http://fonts.cdnfonts.com/css/sofia-pro?styles=17636,17637,17630,17640,17631,17641,17632,17633,17634,17635,17638,17639,17628,17629,17626,17627" rel="stylesheet">
  <link href="http://fonts.cdnfonts.com/css/georgia-2?styles=33750,33752,33751,33753" rel="stylesheet">


    <link rel="canonical" href="{{ url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" />
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
