<section class="instagram-section container">
  <h2 class="instagram-heading">@chefrosemary.be</h2>
  <div class="instagram-images">
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
    <img src="/rosemary_theme/static/imgs/food-item.png" alt="" />
  </div>
</section>
