<section class="shop-collection-cart cart-locked">
  <h3 class="shopping-collection-cart-heading">Je winkelmandje</h3>
  <p class="amount-left-for-free-dilivery-text">Honger? Kies een lekkere maaltijd.</p>
  <div class="shop-collection-cart-upsell-section">
    <p class="chosen-dishes-text">Combineer met:</p>
    <div class="upsell-block flex-box no-t-m">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-qty-and-price flex-box">
          <div class="chosen-dish-price">
            € 12,00
          </div>
          <div class="upsell-add-to-cart-btn">
            TOEVOEGEN
          </div>
        </div>
      </div>
    </div>
    <div class="upsell-block flex-box no-t-m">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-qty-and-price flex-box">
          <div class="chosen-dish-price">
            € 12,00
          </div>
          <div class="upsell-add-to-cart-btn">
            TOEVOEGEN
          </div>
        </div>
      </div>
    </div>
    <div class="upsell-block flex-box no-t-m">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-qty-and-price flex-box">
          <div class="chosen-dish-price">
            € 12,00
          </div>
          <div class="upsell-add-to-cart-btn">
            TOEVOEGEN
          </div>
        </div>
      </div>
    </div>
    <div class="upsell-block flex-box no-d">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-price">
          € 12,00
        </div>
      </div>
      <div class="upsell-add-to-cart-btn">
        TOEVOEGEN
      </div>
    </div>
    <div class="upsell-block flex-box no-d">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-price">
          € 12,00
        </div>
      </div>
      <div class="upsell-add-to-cart-btn">
        TOEVOEGEN
      </div>
    </div>
    <div class="upsell-block flex-box no-d">
      <div class="chosen-dish-img">
        <img src="/rosemary_theme/static/img/food-item.png" alt="" />
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-price">
          € 12,00
        </div>
      </div>
      <div class="upsell-add-to-cart-btn">
        TOEVOEGEN
      </div>
    </div>
  </div>

  <div class="cart-close-btn flex-box no-d">
    <div class="cart-close-text">
      Sluiten
      <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="17.5" viewBox="0 0 17.5 17.5"><defs><style>.a-icon-close-black{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><g transform="translate(0.75 0.75)"><circle class="a-icon-close-black" cx="8" cy="8" r="8" transform="translate(0)"/><line class="a-icon-close-black" y2="6.4" transform="translate(10.263 5.737) rotate(45)"/><line class="a-icon-close-black" x2="6.4" transform="translate(5.737 5.737) rotate(45)"/></g></svg>
    </div>
    <div class="cart-close-logo">

    </div>
  </div>
</section>
