<div class="shop-collection-cart">
  <h3 class="shopping-collection-cart-heading">Je winkelmandje</h3>
  <p class="amount-left-for-free-dilivery-text">Vanaf €30 is je levering gratis (€4,95)</p>
  <div class="loading-bar">
    <div class="loading-complete" data-complete="60">

    </div>
  </div>
  <div class="shop-collection-cart-total-section">
    <div class="total-content">
      <div class="subtotal-and-total flex-box">
        <div class="subtotal-and-total-left">
          <div class="subtotal">
            Subtotaal
          </div>
          <div class="dilivery">
            Levering fietskoerier
          </div>
          <div class="total">
            Totaal
          </div>
        </div>
        <div class="subtotal-and-total-right">
          <div class="subtotal subtotal-amount">
            € 36,00
          </div>
          <div class="dilivery dilivery-charge">
            € 4,95
          </div>
          <div class="total total-amount">
            € 40,95
          </div>
        </div>
      </div>
      <a href="#" class="checkout-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="23.5" height="22.75" viewBox="0 0 23.5 22.75"><defs><style>.a-icon-shopping-cart,.b-icon-shopping-cart{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}.a-icon-shopping-cart{stroke-width:2px;}.b-icon-shopping-cart{stroke-width:1.5px;}</style></defs><g transform="translate(-0.25 -0.25)"><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(8 20)"/><circle class="a-icon-shopping-cart" cx="1" cy="1" r="1" transform="translate(19 20)"/><path class="b-icon-shopping-cart" d="M1,1H5L7.68,14.39a2,2,0,0,0,2,1.61H19.4a2,2,0,0,0,2-1.61L23,6H6"/></g></svg>
        BESTELLEN
      </a>
    </div>
  </div>

  <div class="chosen-dishes-content">
    <p class="chosen-dishes-text">Gekozen gerechten:</p>
    <div class="chosen-dishes-blocks">
      <div class="chosen-dish-block flex-box no-t-m">
        <div class="chosen-dish-img">
          <img src="/assets/imgs/food-item.png" alt="">
        </div>
        <div class="chosen-dish-info">
          <div class="chosen-dish-name">
            Chicken Tikka Masala
          </div>
          <div class="chosen-dish-qty-and-price flex-box">
            <div class="chosen-dish-qty flex-box">
              <span class="qty-minus qty-controller">-</span>
              <span class="quantity" data-qty="1">1</span>
              <span class="qty-plus qty-controller">+</span>
            </div>
            <div class="chosen-dish-price">
              € 12,00
            </div>
          </div>
        </div>
      </div>
      <div class="chosen-dish-block flex-box no-d">
        <div class="chosen-dish-img">
          <img src="/assets/imgs/food-item.png" alt="">
        </div>
          <div class="dish-name-qty">
            <div class="chosen-dish-name">
              Chicken Tikka Masala
            </div>
            <div class="chosen-dish-qty flex-box">
              <span class="qty-minus qty-controller">-</span>
              <span class="quantity" data-qty="1">1</span>
              <span class="qty-plus qty-controller">+</span>
            </div>
          </div>
          <div class="chosen-dish-qty-and-price flex-box">
            <div class="chosen-dish-price">
              € 12,00
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="shop-collection-cart-upsell-section">
    <p class="chosen-dishes-text">Combineer met:</p>
    <div class="upsell-block flex-box no-t-m">
      <div class="chosen-dish-img">
        <img src="/assets/imgs/food-item.png" alt="">
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-qty-and-price flex-box">
          <div class="chosen-dish-price">
            € 12,00
          </div>
          <div class="upsell-add-to-cart-btn">
            TOEVOEGEN
          </div>
        </div>
      </div>
    </div>
    <div class="upsell-block flex-box no-d">
      <div class="chosen-dish-img">
        <img src="/assets/imgs/food-item.png" alt="">
      </div>
      <div class="chosen-dish-info">
        <div class="chosen-dish-name">
          Chicken Tikka Masala
        </div>
        <div class="chosen-dish-price">
          € 12,00
        </div>
      </div>
      <div class="upsell-add-to-cart-btn">
        TOEVOEGEN
      </div>
    </div>
  </div>

  <div class="cart-close-btn flex-box no-d">
    <div class="cart-close-text">
      Sluiten
    </div>
    <div class="cart-close-logo">

    </div>
  </div>
</div>
